<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>SRT File Comparison</title>
</head>
<body>
    <div class="container">
        <form method="POST" enctype="multipart/form-data">
            <div class="box">
                <h2>First</h2>
                <input type="file" name="first_file" accept=".srt">
            </div>
            
            <div class="compare-box">
                <button type="submit">Compare</button>
            </div>

            <div class="box">
                <h2>Second</h2>
                <input type="file" name="second_file" accept=".srt">
            </div>
        </form>
    </div>
</body>
</html>
